

  <form [formGroup]="ingredientsForm"  class="row">
    <label class="col-sm-8"
      >Name:
      <input type="text" id="name" formControlName="name" #nameInput />
    </label>

    <label class="col-sm-4"> Amount:
      <input type="number" id="amount" formControlName="amount" #amountInput />
    </label>
  </form>


<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="addIngredients(ingredients)">
      Add
    </button>
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-danger" >Clear</button>
  </div>
</div>

